BREAKING_CHANGES
*.pyc
*.swp
build
node_modules
tags
.idea
.vscode
doc/manual/_build
install/deb/sheltermanager3
reports/reports.txt
src/static/js/bundle
src/static/js/compat
src/static/pages/changelog.txt
scripts/ansible/archives
scripts/ansible/roles
scripts/ansible/*.retry
scripts/jsmin/jsmin
scripts/schema/schema.db
