*.pyc
*.swp
*.apk
build
tags
install/deb/sheltermanager3
src/static/pages/changelog.txt
scripts/jsmin/jsmin
src/static/js/min
import/data
doc/manual/_build
cordova/asm/platforms
.DS_Store
/.project
/.pydevproject
scripts/ansible/archives/*.*
scripts/ansible/roles
scripts/ansible/*.retry
BREAKING_CHANGES
