<h1><img style="align: left;" src="//sheltermanager.com/images/rspca_20170306.gif" alt="logo" width="84" height="45" />Transfer of title</h1>
<hr />
<table style="width: 672px; height: 50px;" border="0">
<tbody>
<tr>
<td width="50%">
<p><strong>TAILS Incident number&nbsp;</strong></p>
</td>
<td>
<p>AWD/Centre record number</p>
</td>
</tr>
</tbody>
</table>
<hr />
<table style="width: 672px;" border="0">
<tbody>
<tr>
<td width="50%">
<p><strong>Name of transferring RSPCA<br /><br /><br />Registered charity number<br /><br /><br />Address<br /><br /><br /><br /><br /></strong></p>
</td>
<td>
<p><strong>Name of receiving RSPCA<br /><br /><br />Registered charity number<br /><br /><br />Address<br /><br /><br /><br /><br /></strong></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;"><strong>Animal's details<br /></strong></p>
<p><span style="font-size: xx-small;"><strong>Species:</strong> &lt;&lt;SpeciesName&gt;&gt;<strong> &nbsp;Sex: </strong>&lt;&lt;Sex&gt;&gt;<strong> &nbsp;Color: </strong>&lt;&lt;BaseColourName&gt;&gt;<strong> &nbsp;Microchip number:</strong> &lt;&lt;IdentichipNumber&gt;&gt;</span></p>
<p style="text-align: left;"><span style="font-size: xx-small;"><strong>The person signing this agreement warrants to the RSPCA that:<br /></strong></span></p>
<p style="text-align: left;"><span style="font-size: xx-small;"><strong>1. </strong>Upon signing this agreement the transferring RSPCA hereby transfers full ownership and title in the animal to the receiving RSPCA who accepts the anial into its care and control.<strong><br /></strong></span></p>
<p style="text-align: left;"><span style="font-size: xx-small;"><strong>2. </strong>In consideration of the receiving RSPCA agreeing to accept the above animal into its care, the transferring RSPCA hereby irrevocably and unconditionally transfers full title in the animal to the receiving RSPCA.</span></p>
<p style="text-align: left;"><span style="font-size: xx-small;"><strong>3. </strong>Upon signing this form, the transferring RSPCA will have no right to receive the animal back or exercise any other rights in respect of the animal.</span></p>
<hr />
<p><span style="font-size: xx-small;"><strong>Signed for and on behalf of the transferring RSPCA:</strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<table style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #000000; width: 100%;">
<tbody>
<tr>
<td style="font-size: xx-small;">
<p><strong>Signature:</strong></p>
</td>
<td style="font-size: xx-small;"><strong>Print name:</strong></td>
<td style="font-size: xx-small;"><strong>Position:</strong></td>
</tr>
</tbody>
</table>
<table style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #000000; width: 100%;">
<tbody>
<tr>
<td style="font-size: xx-small;">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Signature:</strong></p>
</td>
<td style="font-size: xx-small;">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Print name:</strong></p>
</td>
<td style="font-size: xx-small;">
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Position:</strong></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-size: xx-small;">&nbsp;<br /><br /></span></p>
<p><span style="font-size: xx-small;">Date of this transfer:</span></p>
<hr />
<p><span style="font-size: xx-small;">BACS December 2010</span></p>
