html { direction: rtl; }

.asm-tabbar { direction: rtl; }

.ui-tabs { direction: rtl; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { float: right; }
.ui-tabs .ui-tabs-nav li.ui-state-default { float: right; }
.ui-tabs .ui-tabs-nav li a { float: right; }

#asm-topline, .asm-menu-body, .asm-table td { text-align: right }

.asm-footer-version { text-align: left; }
.asm-footer-users { text-align: right; }

.asm-hotkey { float: left; }

.ui-icon-triangle-1-e { background-position: -96px -16px; }
.ui-icon-triangle-1-w { background-position: -32px -16px; }

