
@media print {
    .mce-pagebreak {
        display: block;
        width: 100%;
        height: 0px;
        background-image: none;
        border: 0 !important;
        margin: 0;
        page-break-before: always; clear: both;
    }

    .mce-item-table, .mce-item-table td {
        border: 0 !important;
    }
}

@media screen {
    .mce-pagebreak {
        display: block;
        width: 100%;
        height: 12px;
        background-image: url(../images/ui/tinymce-pagebreak.png);
        background-position: center;
        border: 0;
        margin-top: 15px;
    }
}

