#poscontainer {
    display: flex;
    font-size: 150%;
}

#numberpad {
    border: 1px;
    color: #ffffff;
    background-color: #888888;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px #00000099;
}

#numberpad td {
    width: 25%;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
    /* border: 1px solid white; */
    /* box-shadow: 1px 1px 2px 1px grey; */
    /* padding: 3px; */
    background-image: linear-gradient(to top, #00000050 0%, #00000000 10%, #00000000 90%, #ffffff50 100%), linear-gradient(to left, #00000050 0%, #00000000 10%, #00000000 90%, #ffffff50 100%);
}

#numberpad td:hover {
    /* color: #888888;
    background-color: #ffffff; */
    font-weight: bold;
}

#numberpad table {
    border-collapse: collapse;
}

#numpadscreen {
    background-color: #90ee90;
    height: 40px;
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 150%;
}

.posbuttoncontainer {
    display: block;
    height: 200px;
}

.posbuttoncontent {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.posbutton {
    display: block;
    /* vertical-align: middle; */
    font-size: 120%;
    cursor: pointer;
    width: 100%;
    height: 200px;
    /* border: 1px solid #00000000;     */
    text-align: center;
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* box-shadow: 1px 1px 2px 1px grey; */
    background-image: linear-gradient(to top, #00000050 0%, #00000000 5%, #00000000 95%, #ffffff50 100%), linear-gradient(to left, #00000050 0%, #00000000 5%, #00000000 95%, #ffffff50 100%);
    text-shadow: 1px 1px #00000099;
}

/* .posbutton:hover {
    border: 1px solid black;
} */

#currentreceiptitemcontainer {
    display: flex;
    /* font-size: 150%; */
    font-style: italic;
    background-color: #fafafa;
}

.receiptitemcontainer, .receiptpaymentcontainer {
    display: flex;
}

#transactionsheader {
    position: sticky;
    top:0;
    display: flex;
    background-color: white;
}

#subtotal {
    display: flex;
}

#balancecontainer {
    display: flex;
    font-size: 120%;
    font-weight: bold;
    background-color: white;
    color: black;
}

#balancecontainer div {
    padding: 5px;
}

#balancelabel {
    flex: 100%;
}

#currentreceiptitemcontainer div, .receiptitemcontainer div, #transactionsheader div, #subtotal div, .receiptpaymentcontainer div {
    padding: 5px;
}

#currentreceiptitemdescription, .receiptitemdescription, .paymentdescription, #transactiondescriptionheader, #subtotaldescription {
    flex: 100%;
    overflow-wrap: anywhere;
    hyphens: auto;
}

.receiptitemdescription {
    cursor: pointer;
}

#currentreceiptitemtax, #currentreceiptitemprice, #currentreceiptitemquantity, #transactiontaxheader, #transactionpriceheader, #transactionquantityheader, #subtotalquantity, #subtotaltax, #subtotalprice, #balance, .receiptitemtax, .receiptitemprice, .receiptitemquantity, .paymentprice {
    max-width: 100px;
    min-width: 100px;
}

.numpadtarget {
    background-color: yellow;
}

#infopanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: calc(100vw - 600px);
    background-color: white;
    min-height: calc(50vh);
    max-height: calc(50vh);
    overflow: auto;
}

#productsheader {
    display: flex;
    /* font-size: 150%; */
    padding: 5px;
    margin-bottom: 5px;
}

#productsheader .productinfodescription {
    display: table-cell;
    vertical-align: middle;
}

.productcontainer {
    display: flex;
    /* font-size: 150%; */
    background-color: #fafafa;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.productcontainer:hover {
    color: #fafafa;
    background-color: black;    
}

#transactionlog {
    max-height: calc(100vh - 800px);
}

#enterkey {
    background-color: green;
}

.voidkey {
    background-color: red !important;
}

#cardbutton {
    background-color: blue;
}

#cashbutton {
    background-color: orange;
}

.removereceiptitem {
    display: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.refund {
    background-color: red;
    color: white;
    font-weight: bold;
}

#producttypes, #taxrates {
    max-height: 50vh;
    display: grid;
    grid-auto-columns: 20%;
    gap: 0;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    overflow: auto;
    /* margin-right: 10px; */
}

#transactionpanel {
    background-color: #ffffff;
    max-width: 600px;
    min-width: 600px;
    height: 100vh;
    max-height: 100vh;
    border: 1px;
    position: relative;
}

#numberpad table {
    width: 100%;
    height: 700px;
}

.productinfodescription {
    flex: 100%;
}

.productinfounit, .productinfoprice, .productinfobalance {
    width: 150px;
}

#posmenupanel {
    padding: 10px;
}

@media screen and (max-width:2048px) {
    #poscontainer {
        font-size: 100%;
    }
    #transactionpanel {
        max-width: 300px;
        min-width: 300px;
    }
    #numberpad table {
        height: 400px;
    }
    /* #numberpad td {
        font-size: 150%;
    } */
    #transactionlog {
        max-height: calc(100vh - 500px);
    }
    /* #producttypes, #taxrates {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    } */
    #currentreceiptitemtax, #currentreceiptitemprice, #currentreceiptitemquantity, #transactiontaxheader, #transactionpriceheader, #transactionquantityheader, #subtotalquantity, #subtotaltax, #subtotalprice, #balance, .receiptitemtax, .receiptitemprice, .receiptitemquantity, .paymentprice {
        max-width: 50px;
        min-width: 50px;
    }
    #infopanel {
        max-width: calc(100vw - 300px);
    }
    #numpadscreen {
        height: 35px;
    }
    .posbutton, .posbuttoncontainer, .posbuttoncontent {
        height: 150px;
    }
    .posbutton {
        font-size: 120%;
    }
    .productinfounit, .productinfoprice, .productinfobalance {
        width: 100px;
    }
}

@media screen and (max-width:800px) {
    #producttypes, #taxrates {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .posbutton, .posbuttoncontainer, .posbuttoncontent {
        height: 100px;
    }
    .posbutton {
        font-size: 100%;
    }
}

@media screen and (min-width:2048px) {
    #producttypes, #taxrates {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .posbutton {
        font-size: 130%;
    }
}

@media screen and (min-width:2560px) {
    #producttypes, #taxrates {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .posbutton {
        font-size: 140%;
    }
}

@media screen and (min-width:3022px) {
    .posbutton, .posbuttoncontainer, .posbuttoncontent {
        height: 250px;
    }
}

.activeproducttype {
    /* border: 1px solid white; */
    font-weight: bold;
    /* box-shadow: 1px 1px 2px 1px grey inset; */
    color: black !important;
    background-color: white !important;
    background-image: none;
    
}

#posproductsearch {
    margin-left: 5px;
    width: 100px;
    padding: 10px;
}

#posproductscan {
    display: table-cell;
    background-color: purple;
    color: white;
    vertical-align: middle;
    height: auto;
}

.activereceiptitem {
    background-color: yellow !important;
}