<p><img style="float: right;" src="static/images/logo/icon-128.png" alt="" width="100" height="100" border="0" /></p>
<p style="text-align: center;"><span style="font-size: small;"><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;"><strong>ANIMAL ADOPTION FORM</strong></span></span></span></p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="font-family: Arial;"><span style="font-size: x-small;"><strong>Reference Number <span style="color: #000000;"><span style="text-decoration: underline;">&lt;&lt;ShortShelterCode&gt;&gt;</span></span></strong></span></span></p>
<p style="text-align: center;"><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>Adoption Number </strong><span style="text-decoration: underline;"><strong>&lt;&lt;AdoptionID&gt;&gt;</strong></span></span></span></p>
<p>&nbsp;</p>
<table style="width: 747px;" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr valign="BOTTOM">
<td colspan="8" width="197" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Title, First Names &amp; Surname:</span></span></p>
</td>
<td colspan="11" width="478">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;OwnerName&gt;&gt; </strong>paid<strong> &lt;&lt;AdoptionDonation&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="8" width="197" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Address &amp; Postcode:</span></span></p>
</td>
<td colspan="11" width="478">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;OwnerAddress&gt;&gt;, &lt;&lt;OwnerPostcode&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="8" width="197" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Daytime Telephone Number:</span></span></p>
</td>
<td colspan="5" width="142">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;WorkTelephone&gt;&gt;</strong></span></span></p>
</td>
<td colspan="4" width="178">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Evening Telephone Number:</span></span></p>
</td>
<td colspan="2" width="130">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;HomeTelephone&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="19" width="689" height="10">&nbsp;</td>
</tr>
<tr valign="BOTTOM">
<td colspan="19" width="689" height="10">
<h1><span style="font-family: Arial, sans-serif;">DECLARATION</span></h1>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="19" width="689" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">In consideration of receiving from <strong>&lt;&lt;Organisation&gt;&gt;</strong><br /></span></span></p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="10" width="243" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">One animal of the following description:</span></span></p>
</td>
<td colspan="9" width="433">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;SpeciesName&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="4" width="92" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Microchip No.</span></span></p>
</td>
<td colspan="7" width="187">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;IdentichipNumber&gt;&gt;</strong></span></span></p>
</td>
<td colspan="2" width="46">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Breed</span></span></p>
</td>
<td colspan="2" width="118">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;BreedName&gt;&gt;</strong></span></span></p>
</td>
<td width="34">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Age</span></span></p>
</td>
<td colspan="3" width="142">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;Age&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr>
<td colspan="2" valign="BOTTOM" width="37" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Name</span></span></p>
</td>
<td colspan="4" valign="BOTTOM" width="119">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;AnimalName&gt;&gt;</strong></span></span></p>
</td>
<td colspan="3" valign="BOTTOM" width="25">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Sex</span></span></p>
</td>
<td colspan="2" valign="BOTTOM" width="70">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;Sex&gt;&gt;</strong></span></span></p>
</td>
<td colspan="2" valign="BOTTOM" width="46">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Colour</span></span></p>
</td>
<td colspan="2" valign="BOTTOM" width="118">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;BaseColourName&gt;&gt;</strong></span></span></p>
</td>
<td colspan="3" valign="BOTTOM" width="70">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">Neutered:</span></span></p>
</td>
<td valign="BOTTOM" width="106">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;Neutered&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr>
<td colspan="11" valign="BOTTOM" width="293" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">ANY EXISTING CONDITIONS/SYMPTOMS</span></span></p>
</td>
<td colspan="8" valign="BOTTOM" width="382">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td colspan="19" valign="BOTTOM" width="689" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">(These conditions may not be covered by our pet insurance)</span></span></p>
</td>
</tr>
<tr>
<td valign="BOTTOM" width="29" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">I </span></span></p>
</td>
<td colspan="10" valign="BOTTOM" width="250">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;OwnerName&gt;&gt;</strong></span></span></p>
</td>
<td colspan="3" valign="BOTTOM" width="58">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">of</span></span></p>
</td>
<td colspan="5" valign="BOTTOM" width="310">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;OwnerAddress&gt;&gt;</strong></span></span></p>
</td>
</tr>
<tr>
<td colspan="19" valign="TOP" width="689">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">am over 18 years of age and hereby undertake with the said society as follows to:</span></span></p>
<ol>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">NOT PART WITH THE POSSESSION OF THE ANIMAL EXCEPT TO RETURN IT TO THE ABOVE CENTRE/CLINIC/BRANCH BY PRIOR ARRANGEMENT IF FOR ANY REASON I AM UNABLE TO KEEP THE ANIMAL.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Feed, water and house the animal to our satisfaction.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Provide qualified veterinary treatment in cases of injury or illness.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Not use the animal for breeding purposes.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Have the animal spayed or neutered if this has not been done already, unless there are overriding veterinary reasons why the operation should not be carried out.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Ensure that my name and address is permanently engraved on the collar, or on disc attached thereto.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Notify the Police and us within 24 hours should the said animal become lost or missing. In cases of lost/missing dogs please also check your local authority stray dog register.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Permit an authorised member or official to visit my premises from time to time to be assured that the animal is happily settled.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Exercise the animal regularly (and in the case of a dog, not to chain the animal except when absolutely necessary when a running chain shall be used); and not leave the animal without company for extended periods.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">Allow us to repossess the animal if, in our opinion, the terms of this agreement are not being reasonably adhered to.</span></span></p>
</li>
<li>
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">I have also read and agree to abide by the CONDITIONS printed on the reverse side of this adoption form.</span></span></p>
</li>
</ol></td>
</tr>
<tr valign="BOTTOM">
<td colspan="3" width="89" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">DATED THIS</span></span></p>
</td>
<td colspan="9" width="214">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;"><strong>&lt;&lt;AdoptionDate&gt;&gt;</strong></span></span></p>
</td>
<td colspan="7" width="358">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: x-small;">SIGNED BY</span></span></p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="5" width="125" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">IN THE PRESENCE OF</span></span></p>
</td>
<td colspan="14" width="550">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="BOTTOM">
<td colspan="7" width="185" height="10">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">ANIMAL CENTRE No. &amp; ADDRESS:</span></span></p>
</td>
<td colspan="12" width="490">
<p><span style="font-family: Arial, sans-serif;"><span style="font-size: xx-small;">&lt;&lt;Organisation&gt;&gt;<br />&lt;&lt;OrganisationAddress&gt;&gt;<br />Tel: &lt;&lt;OrganisationTelephone&gt;&gt;</span></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
