<p>&nbsp;</p>
<table style="width: 700px;" border="0" width="700">
<tbody>
<tr>
<td style="width: 44px;" width="46">&nbsp;</td>
<td style="width: 640px;" width="654">
<div align="center"><span style="font-size: large;"><strong>&lt;&lt;Organisation&gt;&gt;</strong></span><br /><br /><span style="font-size: small;">Please ask for assistance.<br />Dogs do not display true personality in kennels.<br />Do not open cages without permission.</span></div>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table border="1" width="700">
<tbody>
<tr>
<td style="width: 349px;" colspan="2" width="350">Name:<br /><span style="font-size: 14pt;"><strong>&lt;&lt;AnimalName&gt;&gt;</strong></span></td>
<td style="width: 323px;" colspan="2" width="350"><span style="font-size: x-large;">Code: &lt;&lt;ShelterCode&gt;&gt;</span><br /><span style="font-size: medium;">Location: <strong>&lt;&lt;LocationName&gt;&gt;</strong></span></td>
</tr>
<tr>
<td style="width: 186px;" width="175">Admitted:<br /><strong><span style="font-size: 12pt;">&lt;&lt;DateBroughtIn&gt;&gt;</span></strong></td>
<td style="width: 163px;" width="175">Approximate Date of Birth:<br /><strong><span style="font-size: 12pt;">&lt;&lt;DateOfBirth&gt;&gt;</span></strong></td>
<td style="width: 129px;" width="175">Sex:<br /><span style="font-size: x-large;">&lt;&lt;Sex&gt;&gt;</span></td>
<td style="width: 194px;" width="175">Fixed:<br /><span style="font-size: x-large;">&lt;&lt;Neutered&gt;&gt;</span></td>
</tr>
<tr>
<td style="width: 349px;" colspan="2" width="350"><strong><span style="font-size: 14pt;">&lt;&lt;DocumentImgLink300&gt;&gt;</span></strong></td>
<td style="width: 323px;" colspan="2" width="350"><span style="font-size: medium;"> Breed: <strong>&lt;&lt;BreedName&gt;&gt;</strong><br />Color: <strong>&lt;&lt;BaseColorName&gt;&gt;</strong><br />Markings: <strong>&lt;&lt;Markings&gt;&gt;</strong><br />Size: <strong>&lt;&lt;Size&gt;&gt;</strong><br />Microchip: <strong>&lt;&lt;MicroChipNumber&gt;&gt;</strong><br />Heartworm: <strong>&lt;&lt;HeartWormTestResult&gt;&gt;</strong><br />FIV/L: <strong>&lt;&lt;CombiTestResult&gt;&gt;</strong><br />FLV: <strong>&lt;&lt;FlvResult&gt;&gt;</strong><br />Housetrained? <strong>&lt;&lt;Housetrained&gt;&gt;</strong><br />Good With Dogs? <strong>&lt;&lt;GoodWithDogs&gt;&gt;</strong><br />Good With Cats? <strong>&lt;&lt;GoodWithCats&gt;&gt;</strong><br />Good With Children? <strong>&lt;&lt;GoodWithChildren&gt;&gt;</strong> </span></td>
</tr>
<tr>
<td style="width: 672px;" colspan="4" width="700"><span style="font-size: x-large;">Comments:</span><br /><span style="font-size: medium;">&lt;&lt;Description&gt;&gt;</span></td>
</tr>
<tr>
<td style="width: 672px;" colspan="4" width="700"><span style="font-size: medium;">Type:<br />&lt;&lt;AnimalTypeName&gt;&gt;</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>