<p style="text-align: center;"><span class="Apple-style-span" style="font-size: medium;"><span style="text-decoration: underline;"><strong>[Your Shelter]</strong></span></span></p>
<p   align="CENTER"><span style="font-size: xx-small;"><strong>Tel. [Tel]</strong></span></p>
<p   align="CENTER"><span style="font-size: xx-small;"><strong>Registered Charity Number [Number]</strong></span></p>
<h2  style="text-align: center;" ><span style="font-size: medium;"><strong>CAT CARD</strong></span></h2>
<p   align="CENTER">&nbsp;</p>
<center>
<table style="width: 481px;" border="1" cellspacing="0" cellpadding="7"><colgroup><col width="147" /> <col width="147" /> <col width="144" /></colgroup>
<tbody>
<tr valign="TOP">
<td colspan="2" width="308" height="81">
<p   align="LEFT"><span style="font-size: x-small;">Name</span></p>
<p   align="LEFT"><span style="font-size: x-large;"><strong>&lt;&lt;AnimalName&gt;&gt;<br />&lt;&lt;ShelterCode&gt;&gt;</strong></span></p>
</td>
<td width="144">
<h4  >&lt;&lt;DocumentImgLink&gt;&gt;</h4>
</td>
</tr>
<tr valign="TOP">
<td width="147" height="63">
<h4  style="font-weight: normal;" >Date of Entry</h4>
<h4  ><span style="font-size: large;">&lt;&lt;MostRecentEntry&gt;&gt;</span></h4>
</td>
<td width="147">
<p   align="LEFT"><span style="font-size: small;"><span style="font-size: x-small;">Age on </span><span style="font-size: x-small;">&lt;&lt;Date&gt;&gt;</span></span></p>
<p   align="LEFT"><span style="font-size: large;"><strong>&lt;&lt;Age&gt;&gt;</strong></span></p>
</td>
<td width="144">
<p   align="LEFT"><span style="font-size: x-small;">Sex</span></p>
<p   align="LEFT"><span style="font-size: large;"><strong>&lt;&lt;Sex&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="44">
<p   align="LEFT"><span style="font-size: x-small;">Reason For Entry</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;ReasonForEntry&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="44">
<p   align="LEFT"><span style="font-size: x-small;">Colour</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;BaseColourName&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="44">
<p   align="LEFT"><span style="font-size: x-small;">Distinguishing Features</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;Markings&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="177">
<p   align="LEFT"><span style="font-size: x-small;">Comments</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;AnimalComments&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
</table>
</center>
<p   align="CENTER">&nbsp;</p>
<p   align="CENTER"><span style="font-size: small;"><span style="text-decoration: underline;"><strong>Please do not feed the animals as many are on specific diets.</strong></span></span></p>
