<center>
<table style="width: 720px;" cellspacing="0" cellpadding="7"><colgroup><col width="347" /> <col width="345" /></colgroup>
<tbody>
<tr valign="TOP">
<td style="; border: none; padding: 0cm;" rowspan="2" width="347" height="39">
<p style="margin-bottom: 0cm;">&lt;&lt;Organisation&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OrganisationAddress&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OrganisationTelephone&gt;&gt;</p>
</td>
<td style="border: none; padding: 0cm;" width="345">
<h1>CLINIC INVOICE</h1>
</td>
</tr>
<tr>
<td style="border: none; padding: 0cm;" valign="BOTTOM" width="345">
<p style="margin-bottom: 0cm;">Appointment #&lt;&lt;ID&gt;&gt;</p>
<p>Date: &lt;&lt;AppointmentDate&gt;&gt;</p>
</td>
</tr>
</tbody>
</table>
</center>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<center>
<table style="width: 720px;" cellspacing="0" cellpadding="7"><colgroup><col width="346" /> <col width="346" /></colgroup>
<tbody>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="346" height="82">
<h2 class="western">Invoice To:</h2>
<p style="margin-bottom: 0cm;">&lt;&lt;OwnerName&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OwnerAddress&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OwnerCity&gt;&gt; &lt;&lt;OwnerState&gt;&gt; &lt;&lt;OwnerZipcode&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;WorkTelephone&gt;&gt;</p>
<h2 class="western">Pet:</h2>
<p class="western">&nbsp;&lt;&lt;AnimalName&gt;&gt;, &lt;&lt;Breedname&gt;&gt; &lt;&lt;SpeciesName&gt;&gt; &lt;&lt;Age&gt;&gt;</p>
</td>
<td style="border: none; padding: 0cm;" width="346">
<h2 class="western">&nbsp;</h2>
<p class="western">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</center>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<center>
<table style="width: 720px;" cellspacing="0" cellpadding="3"><colgroup><col width="408" /> <col width="96" /> <col width="96" /> <col width="96" /></colgroup>
<tbody>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p>DESCRIPTION</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p style="text-align: right;">AMOUNT</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&lt;&lt;ClinicInvoiceDescription1&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription2&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription3&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription4&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription5&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription6&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription7&gt;&gt;</p>
<p class="western">&lt;&lt;ClinicInvoiceDescription8&gt;&gt;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="padding: 0cm; text-align: right;" width="96">
<p>&lt;&lt;ClinicInvoiceAmount1&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount2&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount3&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount4&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount5&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount6&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount7&gt;&gt;</p>
<p>&lt;&lt;ClinicInvoiceAmount8&gt;&gt;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="padding: 0cm; text-align: right;" width="96">&nbsp;</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="padding: 0cm; text-align: right;" width="96">&nbsp;</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="padding: 0cm; text-align: right;" width="96">&nbsp;</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="padding: 0cm; text-align: right;" width="96">&nbsp;</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="padding: 0cm; text-align: right;" width="96">&nbsp;</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">&nbsp;</td>
<td style="padding: 0cm; text-align: right;" width="96"><strong>&lt;&lt;InvoiceTaxAmount&gt;&gt;</strong>&nbsp;</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">&nbsp;</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="padding: 0cm; text-align: right;" width="96">
<p><strong>&lt;&lt;InvoiceTotal&gt;&gt;</strong></p>
</td>
</tr>
</tbody>
</table>
</center>
