<p style="text-align: center;" ><span style="font-size: medium;"><span style="text-decoration: underline;"><strong>[Your Shelter]</strong></span></span></p>
<p   align="CENTER"><span style="font-size: xx-small;"><strong>Tel. [Tel] Registered Charity Number [Num]</strong></span></p>
<h3  style="text-align: center;" >WARNING</h3>
<p  style="text-align: center;" ><span style="font-size: x-small;"><strong>PLEASE DO NOT TOUCH THE DOG AS YOU COULD BE BITTEN <br />IT WILL BE AT YOUR OWN RISK IF YOU TRY TO TOUCH THE DOG</strong></span>&nbsp;</p>
<h2  style="text-align: center;" ><span style="font-size: medium;"><strong>DOG CARD</strong></span></h2>
<p  style="text-align: center;"  align="LEFT">&nbsp;</p>
<center>
<table style="width: 481px;" border="1" cellspacing="0" cellpadding="7"><colgroup><col width="173" /> <col width="143" /> <col width="121" /></colgroup>
<tbody>
<tr valign="TOP">
<td colspan="2" width="330" height="81">
<p   align="LEFT"><span style="font-size: x-small;">Name</span></p>
<p   align="LEFT"><span style="font-size: x-large;"><strong>&lt;&lt;AnimalName&gt;&gt;</strong></span></p>
<p   align="LEFT"><span style="font-size: x-large;"><strong>&lt;&lt;ShelterCode&gt;&gt;</strong></span></p>
</td>
<td width="121">
<h4  >&lt;&lt;DocumentImgLink&gt;&gt;</h4>
</td>
</tr>
<tr valign="TOP">
<td width="173" height="63">
<h4  style="font-weight: normal;" >Most Recent Date of Entry</h4>
<h4  ><span style="font-size: large;">&lt;&lt;MostRecentEntry&gt;&gt;</span></h4>
</td>
<td width="143">
<p   align="LEFT"><span style="font-size: small;"><span style="font-size: x-small;">Age on </span><span style="font-size: x-small;">&lt;&lt;Date&gt;&gt;</span></span></p>
<p   align="LEFT"><span style="font-size: large;"><strong>&lt;&lt;Age&gt;&gt;</strong></span></p>
</td>
<td width="121">
<p   align="LEFT"><span style="font-size: x-small;">Sex</span></p>
<p   align="LEFT"><span style="font-size: large;"><strong>&lt;&lt;Sex&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="140">
<p   align="LEFT"><span style="font-size: x-small;">Comments</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;AnimalComments&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="44">
<p   align="LEFT"><span style="font-size: x-small;">Reason for Entry</span></p>
<p   align="LEFT"><span style="font-size: small;"><strong>&lt;&lt;ReasonForEntry&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="44">
<p   align="LEFT"><span style="font-size: x-small;">Colour</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;BaseColourName&gt;&gt;</strong></span></p>
</td>
</tr>
<tr>
<td colspan="3" valign="TOP" width="465" height="43">
<p   align="LEFT"><span style="font-size: x-small;">Distinguishing Features</span></p>
<p   align="LEFT"><span style="font-size: medium;"><strong>&lt;&lt;Markings&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
</table>
</center>
<p   align="CENTER">&nbsp;</p>
<p   align="CENTER"><span style="font-size: small;"><span style="text-decoration: underline;"><strong>Please do not feed the dogs as many are on specific diets.</strong></span></span></p>
