<h1 style="text-align: center;">&nbsp;Your City</h1>
<h1 style="text-align: center;">Dog License :: &lt;&lt;LicenceTypeName&gt;&gt;</h1>
<h1 style="text-align: center;">Tag: &lt;&lt;LicenceNumber&gt;&gt;&nbsp; Fee Paid: $&lt;&lt;LicenceFee&gt;&gt;</h1>
<p style="text-align: center;"><strong>&lt;&lt;OwnerName&gt;&gt;</strong><br />&lt;&lt;OwnerAddress&gt;&gt; &lt;&lt;OwnerCity&gt;&gt; &lt;&lt;OwnerState&gt;&gt; &lt;&lt;OwnerZipcode&gt;&gt;</p>
<p style="text-align: center;">H: &lt;&lt;HomeTelephone&gt;&gt;, W: &lt;&lt;WorkTelephone&gt;&gt;, C: &lt;&lt;MobileTelephone&gt;&gt;</p>
<table style="height: 230px; border: 1px solid black; margin-left: auto; margin-right: auto;" width="608">
<tbody>
<tr>
<td><span style="font-size: 14pt;"><strong>Pet Name</strong></span></td>
<td><span style="font-size: 14pt;"><strong>&lt;&lt;AnimalName&gt;&gt;</strong></span></td>
</tr>
<tr>
<td><span style="font-size: 14pt;"><strong>Age</strong></span></td>
<td><span style="font-size: 14pt;"><strong>&lt;&lt;Age&gt;&gt;</strong></span></td>
</tr>
<tr>
<td><span style="font-size: 14pt;"><strong>Breed</strong></span></td>
<td><span style="font-size: 14pt;"><strong>&lt;&lt;BreedName&gt;&gt;</strong></span></td>
</tr>
<tr>
<td><span style="font-size: 14pt;"><strong>Sex</strong></span></td>
<td><span style="font-size: 14pt;"><strong>&lt;&lt;Sex&gt;&gt;</strong></span></td>
</tr>
<tr>
<td><span style="font-size: 14pt;"><strong>Color</strong></span></td>
<td><span style="font-size: 14pt;"><strong>&lt;&lt;BaseColourName&gt;&gt;</strong></span></td>
</tr>
<tr>
<td><span style="font-size: 14pt;"><strong>Coat</strong></span></td>
<td><span style="font-size: 14pt;"><strong>&lt;&lt;CoatType&gt;&gt;</strong></span></td>
</tr>
</tbody>
</table>
<p style="text-align: right;">&nbsp;<span style="font-family: courier new,courier;">&lt;&lt;LicenceNumber&gt;&gt;</span></p>
