<p>&nbsp;</p>
<p  style="margin-bottom: 0cm;"  align="CENTER"><span style="font-size: medium;"><span style="text-decoration: underline;"><strong>&lt;&lt;AnimalTypeName&gt;&gt; Animal Details</strong></span></span></p>
<p  style="margin-bottom: 0cm;" >&nbsp;</p>
<center>
<table style="width: 714px;" border="1" rules="GROUPS" cellspacing="0" cellpadding="7"><colgroup> <col width="153" /> <col width="12" /> </colgroup> <colgroup> <col width="109" /> </colgroup> <colgroup> <col width="109" /> </colgroup> <colgroup> <col width="259" /> </colgroup>
<tbody>
<tr valign="TOP">
<td width="153" height="28">
<p  >Date of entry</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;DateBroughtIn&gt;&gt;</strong></p>
</td>
<td rowspan="11" width="259">
<p  style="margin-bottom: 0cm;" >Comments (available to the public)</p>
<p  ><strong>&lt;&lt;AnimalComments&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Ref</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;ShelterCode&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Name</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;AnimalName&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Animal Type</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;AnimalTypeName&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Species</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;SpeciesName&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Breed</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;BreedName&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Acceptance Number</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;AcceptanceNumber&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Sex</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;Sex&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Neutered?</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;Neutered&gt;&gt;, &lt;&lt;NeuteredDate&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Age</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;Age&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Colour &amp; Markings</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;BaseColourName&gt;&gt;, &lt;&lt;Markings&gt;&gt;</strong></p>
</td>
</tr>
<tr valign="TOP">
<td width="153" height="29">
<p  >Microchip Number</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;IdentichipNumber&gt;&gt;</strong></p>
</td>
<td rowspan="10" width="259">
<p  style="margin-bottom: 0cm;" >Comments (not available to the public)</p>
<p  ><strong>&lt;&lt;HiddenAnimalDetails&gt;&gt;</strong></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td width="153" height="29">
<p  >Reason for entry</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;ReasonForEntry&gt;&gt;</strong></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td width="153" height="29">
<p  >Medical Problems</p>
</td>
<td colspan="3" width="259">
<p  ><strong>&lt;&lt;HealthProblems&gt;&gt;</strong></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td width="153" height="82">
<p  >Owner Details</p>
</td>
<td colspan="3" width="259">
<p  style="margin-bottom: 0cm;" ><strong>&lt;&lt;OriginalOwnerName&gt;&gt;</strong></p>
<p  style="margin-bottom: 0cm;" ><strong>&lt;&lt;OriginalOwnerAddress&gt;&gt;</strong></p>
<p  ><strong>&lt;&lt;OriginalOwnerPostcode&gt;&gt;</strong></p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td colspan="4" valign="TOP" width="425" height="15">
<p  ><span style="font-size: x-small;">Vaccination Details</span></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td colspan="2" width="179" height="15">
<p   align="CENTER"><span style="font-size: x-small;">Vaccination Name</span></p>
</td>
<td width="109">
<p   align="CENTER"><span style="font-size: x-small;">Date Required</span></p>
</td>
<td width="109">
<p   align="CENTER"><span style="font-size: x-small;">Date Given</span></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td colspan="2" width="179" height="15">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationName1&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationRequired1&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationGiven1&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td colspan="2" width="179" height="15">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationName2&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationRequired2&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationGiven2&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td colspan="2" width="179" height="15">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationName3&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationRequired3&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationGiven3&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
<tbody>
<tr valign="TOP">
<td colspan="2" width="179" height="14">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationName4&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationRequired4&gt;&gt;</strong></span></p>
</td>
<td width="109">
<p  ><span style="font-size: x-small;"><strong>&lt;&lt;VaccinationGiven4&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
</table>
</center>
<p  style="margin-bottom: 0cm;" >&nbsp;</p>
