<p>&nbsp;</p>
<p>&nbsp;</p>
<div style="float: right; z-index: 9999; margin-right: 2%; border: 0;">
<p><img src="image?mode=animal&amp;id=&lt;&lt;AnimalID&gt;&gt;" alt="" height="160px" /></p>
<p style="text-align: center; color: #fff; font-weight: bold; font-size: 12pt;">&lt;&lt;ShelterCode&gt;&gt;</p>
</div>
<div style="position: absolute; left: 2%; top: 10px; width: 95%; height: 400px; background-color: #8cb83d; border-radius: 10px; z-index: -1; border: 0;">
<div style="position: relative; width: 200px; margin-top: 10px; background-color: #000; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; color: #fff; font-size: 18pt; font-weight: bold; border: 0;">Cage Card</div>
<div style="position: relative; margin-top: 10px; padding-left: 0px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; color: #fff; font-size: 12pt; font-weight: bold; border: 0;"><span style="background-color: #000; padding: 5px;">Name:</span>&nbsp;&nbsp;&lt;&lt;AnimalName&gt;&gt;</div>
<div style="position: relative; margin-top: 10px; padding-left: 0px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; color: #fff; font-size: 12pt; font-weight: bold; border: 0;"><span style="background-color: #000; padding: 5px;">Sex:</span>&nbsp;&nbsp;&lt;&lt;Sex&gt;&gt; <span style="font-size: 10pt;">(Neutered: &lt;&lt;Neutered&gt;&gt;)</span></div>
<div style="position: relative; margin-top: 10px; padding-left: 0px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; color: #fff; font-size: 12pt; font-weight: bold; border: 0;"><span style="background-color: #000; padding: 5px;">Breed:</span>&nbsp;&nbsp;&lt;&lt;BreedName&gt;&gt;</div>
<div style="position: relative; margin-top: 10px; padding-left: 0px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; color: #fff; font-size: 12pt; font-weight: bold; border: 0;"><span style="background-color: #000; padding: 5px;">Age:</span>&nbsp;&nbsp;&lt;&lt;DisplayAge&gt;&gt; <span style="font-size: 8pt;">on &lt;&lt;Date&gt;&gt;</span></div>
<div style="position: relative; margin-top: 10px; padding-left: 0px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; color: #fff; font-size: 12pt; font-weight: bold; border: 0;"><span style="background-color: #000; padding: 5px;">About <span style="background-color: #000; padding: 5px;">&lt;&lt;AnimalName&gt;&gt;:</span><br /></span></div>
<p style="font-weight: bold; color: #fff; padding: 10px;"><span style="font-size: small;">&lt;&lt;AnimalComments&gt;&gt;</span></p>
</div>
