<h2 style="text-align: center;">Homechecker's Questionnaire</h2>
<table border="1" align="center">
<tbody>
<tr>
<td>Date of visit:<br />&nbsp;</td>
<td>Homechecker's name:<br />&nbsp;</td>
</tr>
<tr>
<td>Animal Details</td>
<td>Adopter's name &nbsp;<strong>&lt;&lt;OwnerName&gt;&gt; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
</tr>
<tr>
<td>
<p><strong>&lt;&lt;HiddenAnimalDetails&gt;&gt;</strong></p>
<p><strong>&lt;&lt;AnimalComments&gt;&gt;</strong></p>
</td>
<td>
<p>Address</p>
<p><strong>&lt;&lt;OwnerAddress&gt;&gt;</strong></p>
</td>
</tr>
<tr>
<td>Type of accomodation</td>
<td>
<p>Owner occupied:<br />Privately rented:<br />Council rented:<br />Housing trust:<br />Other:</p>
</td>
</tr>
<tr>
<td>If not owner occupied, are pets permitted?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p>What is the longest period that the dog<br />would be left?</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Who would exercise the dog and are they<br />able bodied?&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p>Have they considered the feeding costs?</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>What food are they going to use?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Where will the animal sleep?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p>If they are retired or elederly, have they&nbsp;<br />considered the possibility of the animal<br />outliving them and what the considerations<br />are?&nbsp;</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Have they thought about holidays and the<br />cost of kennelling?&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Do they fully understand that a rescued&nbsp;<br />animal may take some time to settle and will need<br />a lot of patience, understanding and love?&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Are they likely to be able to afford the inoculations<br />and veterinary fees?&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Do they know about insurance for veterinary fees?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Are they aware of worming routines and checking<br />for fleas?&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Has the family had a pet before?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>If yes, what happened to it?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>If no, has the family discussed the implications of<br />having a pet and the restrictions it may place <br />on their lifestyle?&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Is there a garden available?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Is it secure?</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>If not, what improvements are needed?<br /><br /><br /><br />&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Comments<br /><br /><br />&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Homechecker's decision&nbsp;</td>
<td>PASS &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;FAIL</td>
</tr>
<tr>
<td><br />Homechecker's signature</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
