<h2 style="text-align: center;">&nbsp;Incident Information - &lt;&lt;IncidentTypeName&gt;&gt;</h2>
<table style="height: 449px;" border="1" width="663">
<tbody>
<tr>
<td>Date/Time</td>
<td>&lt;&lt;IncidentDate&gt;&gt; &lt;&lt;IncidentTime&gt;&gt;</td>
</tr>
<tr>
<td>Called on</td>
<td>&lt;&lt;CallDate&gt;&gt; &lt;&lt;CallTime&gt;&gt;</td>
</tr>
<tr>
<td>By</td>
<td>
<p>&lt;&lt;CallerName&gt;&gt;<br />&lt;&lt;CallerHomeTelephone&gt;&gt;</p>
</td>
</tr>
<tr>
<td>Taken by</td>
<td>&lt;&lt;CallTaker&gt;&gt;</td>
</tr>
<tr>
<td>Notes</td>
<td>
<p>&lt;&lt;CallNotes&gt;&gt;</p>
</td>
</tr>
<tr>
<td>Dispatched</td>
<td>&lt;&lt;DispatchDate&gt;&gt; &lt;&lt;DispatchTime&gt;&gt;</td>
</tr>
<tr>
<td>To</td>
<td>
<p>&lt;&lt;DispatchAddress&gt;&gt;<br />&lt;&lt;DispatchCity&gt;&gt;<br />&lt;&lt;DispatchState&gt;&gt;<br />&lt;&lt;DispatchZipcode&gt;&gt;</p>
</td>
</tr>
<tr>
<td>ACO</td>
<td>&lt;&lt;DispatchedACO&gt;&gt;</td>
</tr>
<tr>
<td>Pickup Location</td>
<td>&lt;&lt;PickupLocationName&gt;&gt;</td>
</tr>
<tr>
<td>Responded</td>
<td>&lt;&lt;RespondedDate&gt;&gt; &lt;&lt;RespondedTime&gt;&gt;</td>
</tr>
<tr>
<td>Follow up</td>
<td>&lt;&lt;FollowupDate&gt;&gt; &lt;&lt;FollowupTime&gt;&gt;</td>
</tr>
<tr>
<td>Completed</td>
<td>&lt;&lt;CompletedDate&gt;&gt; &lt;&lt;CompletedTypeName&gt;&gt;</td>
</tr>
<tr>
<td>Animal</td>
<td>&lt;&lt;AnimalDescription&gt;&gt;, &lt;&lt;AgeGroup&gt;&gt; &lt;&lt;Sex&gt;&gt; &lt;&lt;SpeciesName&gt;&gt;</td>
</tr>
<tr>
<td>Victim</td>
<td>
<p>&lt;&lt;VictimName&gt;&gt;</p>
</td>
</tr>
<tr>
<td>Suspect</td>
<td>
<p>&lt;&lt;SuspectName&gt;&gt;</p>
<p>&lt;&lt;SuspectAddress&gt;&gt;<br />&lt;&lt;SuspectCity&gt;&gt;<br />&lt;&lt;SuspectState&gt;&gt;<br />&lt;&lt;SuspectZipcode&gt;&gt;</p>
</td>
</tr>
</tbody>
</table>
<p>&lt;&lt;IncidentLogs&gt;&gt;</p>
