<p style="margin-bottom: 0cm;"  align="CENTER"><span style="font-weight: normal;">Microchip Registration</span><strong> &lt;&lt;ShortShelterCode&gt;&gt; &lt;&lt;AnimalName&gt;&gt;</strong></p>
<p style="margin-bottom: 0cm;"  align="CENTER"><strong><br /></strong></p>
<center>
<table style="width: 568px;" dir="LTR" border="1" cellspacing="0" cellpadding="0"><colgroup><col width="283" /> <col width="283" /></colgroup>
<tbody>
<tr valign="TOP">
<td width="283" height="47">
<p  ><span style="font-size: medium;">Microchip number</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;IdentichipNumber&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Code</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>Your shelter reference</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Owner Surname</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;OwnerSurname&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Owner Initials</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;OwnerInitials&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Owner Title</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;OwnerTitle&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Owner Address</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;OwnerAddress&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Owner Postcode</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;OwnerPostcode&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Home Telephone</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;HomeTelephone&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Work Telephone</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;WorkTelephone&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Emergency Telephone</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;MobileTelephone&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Animal Name</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;AnimalName&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Species</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;SpeciesName&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Breed</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;BreedName&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Sex</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;Sex&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Neutered?</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;Neutered&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Year of Birth</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;DateOfBirth&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Implant Date</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;AdoptionDate&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="48">
<p  ><span style="font-size: medium;">Tattoos/Brands</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;TattooNumber&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="283" height="47">
<p  ><span style="font-size: medium;">Colour and Markings</span></p>
</td>
<td width="283">
<p  ><span style="font-size: medium;"><strong>&lt;&lt;BaseColourName&gt;&gt;, &lt;&lt;Markings&gt;&gt;</strong></span></p>
</td>
</tr>
</tbody>
</table>
</center>
