<p><img src="//sheltermanager.com/repo/forms/petplan_20130530.jpg" alt="" width="663" height="841" /></p>
<div style="position: absolute; left: 111px; top: 274px; width: 193px; height: 15px; border: 0;">&lt;&lt;OwnerSurname&gt;&gt;</div>
<div style="position: absolute; left: 336px; top: 276px; width: 28px; height: 16px; border: 0px none;">&lt;&lt;OwnerInitials&gt;&gt;</div>
<div style="position: absolute; left: 111px; top: 293px; width: 257px; height: 16px; border: 0;">&lt;&lt;OwnerAddress&gt;&gt;</div>
<div style="position: absolute; left: 290px; top: 312px; width: 77px; height: 15px; background-color: #fff; border: 0;">&lt;&lt;OwnerPostcode&gt;&gt;</div>
<div style="position: absolute; left: 105px; top: 330px; width: 260px; height: 16px; border: 0;">&lt;&lt;MobileTelephone&gt;&gt;</div>
<div style="position: absolute; left: 105px; top: 368px; width: 260px; height: 16px; border: 0;">&lt;&lt;EmailAddress&gt;&gt;</div>
<div style="position: absolute; left: 122px; top: 387px; width: 238px; height: 16px; border: 0;">&lt;&lt;AdoptionDonation&gt;&gt;</div>
<div style="position: absolute; left: 67px; top: 436px; width: 151px; height: 14px; border: 0;">&lt;&lt;AnimalName&gt;&gt;</div>
<div style="position: absolute; left: 532px; top: 130px; width: 110px; height: 16px; border: 0px none;">&lt;&lt;InsuranceNumber&gt;&gt;</div>
<div style="position: absolute; left: 83px; top: 500px; width: 58px; height: 14px; border: 0;">&lt;&lt;Display<span class="Apple-style-span" style="font-size: medium; font-family: 'Bradley Hand ITC TT';">agegroup</span>&gt;&gt;</div>
<div style="position: absolute; left: 257px; top: 792px; width: 110px; height: 15px; background-color: #fff; border: 0;">&lt;&lt;AdoptionDate&gt;&gt;</div>
<div style="position: absolute; left: 141px; top: 161px; width: 227px; height: 17px; border: 0px none;">Organisation</div>
<div style="position: absolute; left: 79px; top: 179px; width: 287px; height: 15px; border: 0px none;">OrganisationAddress</div>
<div style="position: absolute; left: 290px; top: 196px; width: 73px; height: 12px; border: 0;">Postcode</div>
<div style="position: absolute; left: 159px; top: 215px; width: 206px; height: 13px; border: 0;">Number</div>
