<p><img style="width: 663px; height: 841px; margin-top: -4px;" src="https://sheltermanager.com/repo/forms/petplan.jpg" alt="" /></p>
<div style="position: absolute; left: 134px; top: 320px; width: 193px; height: 15px; border: 0;">&lt;&lt;OwnerSurname&gt;&gt;</div>
<div style="position: absolute; left: 336px; top: 320px; width: 120px; height: 16px; border: 0px none;">&lt;&lt;OwnerInitials&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 337px; width: 257px; height: 16px; border: 0;">&lt;&lt;OwnerAddress&gt;&gt;</div>
<div style="position: absolute; left: 305px; top: 352px; width: 140px; height: 15px; border: 0;">&lt;&lt;OwnerPostcode&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 370px; width: 260px; height: 16px; border: 0;">&lt;&lt;MobileTelephone&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 385px; width: 260px; height: 16px; border: 0;">&lt;&lt;HomeTelephone&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 402px; width: 260px; height: 16px; border: 0;">&lt;&lt;EmailAddress&gt;&gt;</div>
<div style="position: absolute; left: 142px; top: 420px; width: 238px; height: 16px; border: 0;">&lt;&lt;Fee&gt;&gt;</div>
<div style="position: absolute; left: 100px; top: 458px; width: 151px; height: 14px; border: 0;">&lt;&lt;AnimalName&gt;&gt;</div>
<div style="position: absolute; left: 235px; top: 458px; width: 151px; height: 14px; border: 0;">&lt;&lt;DisplayXIfDog&gt;&gt;</div>
<div style="position: absolute; left: 275px; top: 458px; width: 151px; height: 14px; border: 0;">&lt;&lt;DisplayXIfCat&gt;&gt;</div>
<div style="position: absolute; left: 315px; top: 458px; width: 151px; height: 14px; border: 0;">&lt;&lt;DisplayXIfRabbit&gt;&gt;</div>
<div style="position: absolute; left: 75px; top: 475px; width: 151px; height: 14px; border: 0;">&lt;&lt;DisplayXIfPedigree&gt;&gt;</div>
<div style="position: absolute; left: 200px; top: 475px; width: 151px; height: 14px; border: 0;">&lt;&lt;BreedName&gt;&gt;</div>
<div style="position: absolute; left: 75px; top: 495px; width: 171px; height: 14px; border: 0;">&lt;&lt;DisplayXIfCrossbreed&gt;&gt;</div>
<div style="position: absolute; left: 497px; top: 203px; width: 150px; height: 16px; border: 0px none;">&lt;&lt;InsuranceNumber&gt;&gt;</div>
<div style="position: absolute; left: 117px; top: 517px; width: 80px; height: 14px; border: 0;">&lt;&lt;Age&gt;&gt;</div>
<div style="position: absolute; left: 197px; top: 517px; width: 130px; height: 14px; border: 0;">&lt;&lt;DisplayXIfMale&gt;&gt;</div>
<div style="position: absolute; left: 243px; top: 517px; width: 130px; height: 14px; border: 0;">&lt;&lt;DisplayXIfFemale&gt;&gt;</div>
<div style="position: absolute; left: 130px; top: 535px; width: 150px; height: 14px; border: 0;">&lt;&lt;MicrochipNumber&gt;&gt;</div>
<div style="position: absolute; left: 340px; top: 555px; width: 120px; height: 14px; border: 0;">X</div>
<div style="position: absolute; left: 340px; top: 592px; width: 120px; height: 14px; border: 0;">X</div>
<div style="position: absolute; left: 340px; top: 610px; width: 120px; height: 14px; border: 0;">X</div>
<div style="position: absolute; left: 390px; top: 625px; width: 120px; height: 14px; border: 0;">&lt;&lt;Signature100&gt;&gt;</div>
<div style="position: absolute; left: 560px; top: 655px; width: 120px; height: 14px; border: 0;">&lt;&lt;Date&gt;&gt;</div>
<div style="position: absolute; left: 100px; top: 746px; width: 130px; height: 15px; border: 0;">&lt;&lt;UserRealName&gt;&gt;</div>
<div style="position: absolute; left: 110px; top: 766px; width: 130px; height: 15px; border: 0;">Reception</div>
<div style="position: absolute; left: 260px; top: 746px; width: 140px; height: 15px; border: 0;">&lt;&lt;UserSignature100&gt;&gt;</div>
<div style="position: absolute; left: 110px; top: 766px; width: 110px; height: 15px; border: 0;">&nbsp;</div>
<div style="position: absolute; left: 258px; top: 766px; width: 120px; height: 15px; border: 0;">&lt;&lt;AdoptionDate&gt;&gt;</div>
<div style="position: absolute; left: 142px; top: 786px; width: 110px; height: 15px; border: 0;">&lt;&lt;Date&gt;&gt;</div>
<div style="position: absolute; left: 168px; top: 215px; width: 227px; height: 17px; border: 0px none;">&lt;&lt;Organisation&gt;&gt;</div>
<div style="position: absolute; left: 161px; top: 231px; width: 227px; height: 17px; border: 0px none;">&lt;&lt;Organisation&gt;&gt;</div>
<div style="position: absolute; left: 110px; top: 245px; width: 287px; height: 15px; border: 0px none;">&lt;&lt;OrganisationAddress&gt;&gt;</div>
<div style="position: absolute; left: 75px; top: 260px; width: 190px; height: 12px; border: 0;">&lt;&lt;OrganisationTown&gt;&gt;</div>
<div style="position: absolute; left: 302px; top: 260px; width: 190px; height: 12px; border: 0;">&lt;&lt;OrganisationPostcode&gt;&gt;</div>
<div style="position: absolute; left: 174px; top: 273px; width: 206px; height: 13px; border: 0;">Number</div>
