<p><img style="width: 663px; height: 841px; margin-top: -4px;" src="https://sheltermanager.com/repo/forms/petplan.jpg" alt="" /></p>
<div style="position: absolute; left: 134px; top: 320px; width: 193px; height: 15px; border: 0;">&lt;&lt;OwnerSurname&gt;&gt;</div>
<div style="position: absolute; left: 336px; top: 320px; width: 100px; height: 16px; border: 0px none;">&lt;&lt;OwnerInitials&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 337px; width: 257px; height: 16px; border: 0;">&lt;&lt;OwnerAddress&gt;&gt;</div>
<div style="position: absolute; left: 305px; top: 352px; width: 120px; height: 15px; background-color: #fff; border: 0;">&lt;&lt;OwnerPostcode&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 370px; width: 260px; height: 16px; border: 0;">&lt;&lt;MobileTelephone&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 385px; width: 260px; height: 16px; border: 0;">&lt;&lt;HomeTelephone&gt;&gt;</div>
<div style="position: absolute; left: 134px; top: 402px; width: 260px; height: 16px; border: 0;">&lt;&lt;EmailAddress&gt;&gt;</div>
<div style="position: absolute; left: 142px; top: 420px; width: 238px; height: 16px; border: 0;">&lt;&lt;Fee&gt;&gt;</div>
<div style="position: absolute; left: 100px; top: 458px; width: 151px; height: 14px; border: 0;">&lt;&lt;AnimalName&gt;&gt;</div>
<div style="position: absolute; left: 497px; top: 203px; width: 110px; height: 16px; border: 0px none;">&lt;&lt;InsuranceNumber&gt;&gt;</div>
<div style="position: absolute; left: 117px; top: 517px; width: 58px; height: 14px; border: 0;">&lt;&lt;Age&gt;&gt;</div>
<div style="position: absolute; left: 130px; top: 535px; width: 120px; height: 14px; border: 0;">&lt;&lt;MicrochipNumber&gt;&gt;</div>
<div style="position: absolute; left: 110px; top: 766px; width: 110px; height: 15px; border: 0;">Receptionist</div>
<div style="position: absolute; left: 258px; top: 766px; width: 110px; height: 15px; border: 0;">&lt;&lt;AdoptionDate&gt;&gt;</div>
<div style="position: absolute; left: 161px; top: 231px; width: 227px; height: 17px; border: 0px none;">&lt;&lt;Organisation&gt;&gt;</div>
<div style="position: absolute; left: 110px; top: 245px; width: 287px; height: 15px; border: 0px none;">&lt;&lt;OrganisationAddress&gt;&gt;</div>
<div style="position: absolute; left: 302px; top: 260px; width: 150px; height: 12px; border: 0;">&lt;&lt;OrganisationPostcode&gt;&gt;</div>
<div style="position: absolute; left: 174px; top: 273px; width: 206px; height: 13px; border: 0;">Number</div>
