<p>&nbsp;</p>
<p><span style="font-size: 16pt; font-family: arial, helvetica, sans-serif;">&lt;&lt;Organisation&gt;&gt;</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">RABIES VACCINATION CERTIFICATE</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span>&nbsp;</p>
<table style="height: 184px;" width="743">
<tbody>
<tr>
<td><span style="font-size: 12pt;"><strong><span style="font-family: arial, helvetica, sans-serif;">ANIMAL:</span></strong></span></td>
<td><span style="font-size: 12pt;"><strong><span style="font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp;</span></strong></span></td>
<td><span style="font-size: 12pt;"><strong><span style="font-family: arial, helvetica, sans-serif;">OWNER:</span></strong></span></td>
</tr>
<tr>
<td><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">Animal ID: &nbsp;</span></strong><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;ShortShelterCode&gt;&gt;</span></td>
<td>&nbsp;</td>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>Person ID:</strong>&nbsp;&lt;&lt;OwnerID&gt;&gt;</span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>Animal Name</strong>: &nbsp;&lt;&lt;AnimalName&gt;&gt;</span></td>
<td>&nbsp;</td>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;OwnerName&gt;&gt;</span></td>
</tr>
<tr>
<td><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">Species: &nbsp;</span></strong><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;SpeciesName&gt;&gt;</span></td>
<td>&nbsp;</td>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;OwnerAddress&gt;&gt;</span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>Breed:</strong></span>&nbsp; <span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;BreedName&gt;&gt;&nbsp;</span></td>
<td>&nbsp;</td>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;OwnerCity&gt;&gt;, &lt;&lt;OwnerState&gt;&gt; &nbsp; &lt;&lt;OwnerZipCode&gt;&gt;</span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>Coat Color:</strong>&nbsp;&nbsp;&lt;&lt;BaseColorName&gt;&gt; &nbsp;&nbsp;</span></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">Age:</span></strong><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"> &nbsp;&lt;&lt;Age&gt;&gt;</span></td>
<td>&nbsp;</td>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><span style="font-size: 10pt;">&lt;&lt;MobileTelephone&gt;&gt; &nbsp;&lt;&lt;HomeTelephone&gt;&gt; &nbsp;&lt;&lt;WorkTelephone&gt;&gt;</span></span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>Birthdate:</strong>&nbsp;&nbsp;&lt;&lt;DateofBirth&gt;&gt;</span></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Altered</strong>: &nbsp;<span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;Neutered&gt;&gt;</span></span></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<p><span style="font-size: 11pt;"><strong><span style="font-family: arial, helvetica, sans-serif;">MICROCHIP:</span></strong></span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">&lt;&lt;MicroChipNumber&gt;&gt;</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span>&nbsp;</p>
<table style="height: 129px;" width="740">
<tbody>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Certificate Number:</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">&lt;&lt;RabiesTag&gt;&gt;</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Vaccination Date:</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">&lt;&lt;VaccinationGivenRecentRabies&gt;&gt;</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Vaccination Expires:</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">&lt;&lt;VaccinationExpiresRecentRabies&gt;&gt;</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Manufacturer - Brand:</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">&lt;&lt;VaccinationManufacturerRecentRabies&gt;&gt;</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Lot Number - Lot Expires:&nbsp;</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">&lt;&lt;VaccinationBatchRecentRabies&gt;&gt;</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Live/Killed:</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">K</span></td>
</tr>
<tr>
<td style="text-align: right;"><strong><span style="font-size: 11pt;">Delivery Method:</span></strong></td>
<td><span style="font-size: 11pt;">&nbsp;</span></td>
<td><span style="font-size: 11pt;">Subcutaneous</span></td>
</tr>
</tbody>
</table>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp;</p>
<p><span style="font-size: 12pt;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span>I certify that the above animal has been vaccinated against rabies.</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;_____________________________________________________</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 12pt;">(Signature) &nbsp;&nbsp;&lt;&lt;VaccinationAdminsteringVetNameRecentRabies&gt;&gt;</span></span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">License Number:&nbsp; &lt;&lt;VaccinationAdministeringVetLicenseRecentRabies&gt;&gt;</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">&lt;&lt;Date&gt;&gt;</span></p>
