<center>
<table style="page-break-before: always; width: 720px;" cellspacing="0" cellpadding="7"><colgroup><col width="347" /> <col width="345" /></colgroup>
<tbody>
<tr valign="TOP">
<td style="; border: none; padding: 0cm;" rowspan="2" width="347" height="39">
<p style="margin-bottom: 0cm;">&lt;&lt;Organisation&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OrganisationAddress&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OrganisationTelephone&gt;&gt;</p>
</td>
<td style="border: none; padding: 0cm;" width="345">
<h1>RECEIPT</h1>
</td>
</tr>
<tr>
<td style="border: none; padding: 0cm;" valign="BOTTOM" width="345">
<p style="margin-bottom: 0cm;">Receipt #&lt;&lt;ReceiptNum&gt;&gt;</p>
<p>Date: &lt;&lt;Date&gt;&gt;</p>
</td>
</tr>
</tbody>
</table>
</center>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<center>
<table style="width: 720px;" cellspacing="0" cellpadding="7"><colgroup><col width="346" /> <col width="346" /></colgroup>
<tbody>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="346" height="82">
<h2 class="western">Received From:</h2>
<p style="margin-bottom: 0cm;">&lt;&lt;OwnerName&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OwnerAddress&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;OwnerCity&gt;&gt; &lt;&lt;OwnerState&gt;&gt; &lt;&lt;OwnerZipcode&gt;&gt;</p>
<p style="margin-bottom: 0cm;">&lt;&lt;WorkTelephone&gt;&gt;</p>
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="346">
<h2 class="western">&nbsp;</h2>
<p class="western">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</center>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<center>
<table style="width: 720px;" cellspacing="0" cellpadding="3"><colgroup><col width="408" /> <col width="96" /> <col width="96" /> <col width="96" /></colgroup>
<tbody>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p>DESCRIPTION</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>AMOUNT</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&lt;&lt;DonationCommentsLast1&gt;&gt;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&lt;&lt;DonationAmountLast1&gt;&gt;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td style="border: none; padding: 0cm;" width="408" height="13">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p class="western">&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0cm;" width="96">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</center>
