<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 70%; border-style: none; margin-left: auto; margin-right: auto; height: 111px;" border="1">
<tbody>
<tr style="height: 111px;">
<td style="width: 45.3105%; border-style: none; height: 111px;">&nbsp;</td>
<td style="width: 16.3798%; border-style: none; height: 111px;">
<p style="margin-bottom: 0cm; text-align: right;"><span style="font-size: 10pt;">&lt;&lt;Organisation&gt;&gt;<br />&lt;&lt;OrganisationTown&gt;&gt;<br />&lt;&lt;OrganisationState&gt;&gt; &lt;&lt;OrganisationPostcode&gt;&gt;<br />&lt;&lt;OrganisationTelephone&gt;&gt;</span></p>
</td>
<td style="width: 15.3246%; border-style: none; height: 111px;">
<p style="margin-bottom: 0cm; text-align: center;">Add your logo here</p>
</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 70%; height: 16px; border-style: none; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 16px;">
<td style="width: 37.9129%; height: 16px; border-style: none;">
<h2 class="western"><span style="font-size: 10pt;">Received From:</span></h2>
<p style="margin-bottom: 0cm;"><span style="font-size: 10pt;">&lt;&lt;OwnerName&gt;&gt;<br />&lt;&lt;OwnerAddress&gt;&gt;<br />&lt;&lt;OwnerTown&gt;&gt;<br />&lt;&lt;OwnerCounty&gt;&gt; &lt;&lt;OwnerPostcode&gt;&gt;</span></p>
</td>
<td style="width: 36.8242%; height: 16px; border-style: none;">&nbsp;</td>
<td style="width: 12.1692%; border-style: none;">
<p style="text-align: left;"><span style="font-size: 16pt;"><strong>Receipt</strong></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 50%; height: 32px; border-style: none; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 16px;">
<td style="width: 43.8053%; height: 16px; border-style: none;">&nbsp;</td>
<td style="width: 36.9744%; height: 16px; border-style: none; text-align: left;"><span style="font-size: 10pt;">Receipt Number:</span></td>
<td style="width: 18.2958%; height: 16px; border-style: none;"><span style="font-size: 10pt;"><strong>&lt;&lt;Receipt&gt;&gt;</strong></span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 43.8053%; height: 16px; border-style: none;">&nbsp;</td>
<td style="width: 36.9744%; height: 16px; border-style: none;"><span style="font-size: 10pt;">Date:</span></td>
<td style="width: 18.2958%; height: 16px; border-style: none;"><span style="font-size: 10pt;"><strong>&lt;&lt;PaymentDate&gt;&gt;</strong></span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 50%; height: 48px; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 16px;">
<td style="width: 59.202%; height: 16px; text-align: center;"><span style="font-size: 10pt;"><strong>Description</strong></span></td>
<td style="width: 39.8734%; height: 16px; text-align: center;"><strong><span style="font-size: 10pt;">Amount</span></strong></td>
</tr>
<tr style="height: 16px;">
<td style="width: 59.202%; height: 16px; text-align: center;"><span style="font-size: 10pt;">&lt;&lt;DonationType&gt;&gt;</span></td>
<td style="width: 39.8734%; height: 16px; text-align: center;"><span style="font-size: 10pt;">&lt;&lt;Amount&gt;&gt; USD</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 59.202%; height: 16px; background-color: #ced4d9;">&nbsp;</td>
<td style="width: 39.8734%; height: 16px; text-align: center; background-color: #ced4d9;"><span style="font-size: 10pt;"><strong>&lt;&lt;Amount&gt;&gt; USD</strong></span></td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 50%; height: 40px; border-style: none; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 100%; border-style: none;"><span style="font-size: 10pt;">Thank you for your payment</span></td>
</tr>
</tbody>
</table>