<pre style="margin-bottom: 0in; line-height: 150%; text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong><span style="font-size: 14pt;"><span style="font-size: 8pt;"><span style="font-size: 18.6667px;">RECLAIM RELEASE</span><br /></span></span><span style="font-size: 10pt;">&lt;&lt;Organization&gt;&gt;</span><span style="font-size: 10pt;"><br /><span style="font-family: arial, helvetica, sans-serif;">&lt;&lt;OrganizationAddress&gt;&gt;, &lt;&lt;OrganizationCity</span>&gt;&gt; &lt;&lt;OrganizationState&gt;&gt; &lt;&lt;OrganizationZipcode&gt;&gt;<br /></span><span style="font-size: 10pt;"> &lt;&lt;OrganizationTelephone&gt;&gt;<br /></span></strong></span></pre>
<hr />
<table style="height: 73px; width: 100%; border-collapse: collapse; border-style: none;">
<tbody>
<tr style="height: 16px;">
<td style="width: 59.5687%; height: 16px;"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><strong>Animal:&nbsp; </strong>&lt;&lt;AnimalName&gt;&gt;</span></td>
<td style="width: 40.4313%; height: 16px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>ReleaseDate:&nbsp; </strong>&lt;&lt;Date&gt;&gt;</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 59.5687%; height: 16px;"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><strong>Shelter Code: </strong>&lt;&lt;ShelterCode&gt;&gt;</span></td>
<td style="width: 40.4313%; height: 16px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Breed:&nbsp;&nbsp;</strong>&lt;&lt;BreedName&gt;&gt;</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 59.5687%; height: 16px;"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><strong>Reclaimed By:</strong>&nbsp; &lt;OwnerForenames&gt;&gt; &lt;&lt;OwnerSurname&gt;&gt;</span></td>
<td style="width: 40.4313%; height: 16px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Species:&nbsp;&nbsp;</strong>&lt;&lt;Species&gt;&gt;</span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 59.5687%; height: 10px;"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><strong>Sex of Animal: </strong> &lt;&lt;Sex&gt;&gt;</span></td>
<td style="width: 40.4313%; height: 10px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Color:&nbsp;&nbsp;</strong>&lt;&lt;BaseColourName&gt;&gt;</span></td>
</tr>
<tr style="height: 16px;">
<td style="width: 59.5687%; height: 15px;"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><strong>Spayed/Neutered:&nbsp;&nbsp;</strong>&lt;&lt;Neutered&gt;&gt;</span></td>
<td style="width: 40.4313%; height: 15px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Microchip:&nbsp; </strong>&lt;&lt;MicrochipNumber&gt;&gt;<br /></span></td>
</tr>
</tbody>
</table>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">I, the undersigned, do hereby request &lt;&lt;Organization&gt;&gt; to release the above-named animal into my custody.&nbsp; I do hereby certify that I am the owner or duly authorized agent for the owner of the animal&nbsp;described above and that I am authorized to reclaim the above-named animal from &lt;&lt;Organization&gt;&gt;.</span></p>
<p><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="font-size: 11pt;">I understand that:</span></span></strong></p>
<ul>
<li><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif;">The above-named animal cannot be released to me without proof of ownership (such as photos, adoption documents or veterinary records).&nbsp;&nbsp;</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">Every person who owns, possesses, or harbors&nbsp;or keeps a dog or cat over three months old shall have and keep such dog or cat inoculated against rabies. The vaccination should be administered annually and given by a licensed veterinarian.&nbsp; </span></li>
<li><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="font-size: 11pt;">Before release of the above-named animal to me, I must provide proof of a current rabies vaccine.</span></span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="font-size: 11pt;">If I cannot provide proof that the above-named animal has a&nbsp; current rabies vaccination, I must provide a pre-paid document from a local veterinarian to prove purchase of a rabies vaccination, to be administered by the documented veterinarian upon release of the above-named animal into my custody.&nbsp;</span></span><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="font-size: 11pt;">&nbsp; </span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="font-size: 11pt;">I must pay daily boarding fees and a fine to reclaim the above-named animal.</span></span></li>
<li><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">It is unlawful for any dog, cat, domesticated livestock, or any other owned animal to run at large upon the streets, alleys, or other public or private property not my own unless restrained by a leash or lead.</span></li>
<li><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;">All&nbsp;domesticated animals must be SECURELY confined to my property and violations of any of the above laws may result in my animal being impounded, or charges being filed against me, or both.</span></li>
</ul>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><span style="font-size: 11pt;"><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><span style="font-family: Arial, sans-serif;">By signing this document I certify I have read, understand and agree to the terms, conditions and policies outlined above which have been established by the Jackson County Animal Shelter.&nbsp;</span></span></span></span></p>
<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="font-family: Arial, sans-serif;"><strong><span style="text-decoration: underline;"><span style="font-family: arial, helvetica, sans-serif;">OWNER OR OWNER'S REPRESENTATIVE RELEASE INFORMATION</span></span></strong></span></span></p>
<table style="width: 708px; border-collapse: collapse;">
<tbody>
<tr style="height: 16px;">
<td style="width: 704px; height: 16px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong><span style="color: #000000;"><span style="font-style: normal;"><span style="background: transparent;">Owner or Owner's Representative:</span></span></span></strong><span style="color: #000000;"><span style="font-style: normal;"><strong><span style="background: transparent;">&nbsp;</span></strong></span></span><span style="color: #000000;"><span style="font-style: normal;"><span style="font-weight: normal;"><span style="background: transparent;">&lt;&lt;OwnerForenames&gt;&gt; &lt;&lt;OwnerSurname&gt;&gt;</span></span></span></span></span></td>
</tr>
<tr style="height: 13px;">
<td style="width: 704px; height: 13px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>Address:&nbsp;</strong> &lt;&lt;OwnerAddress&gt;&gt;</span></td>
</tr>
<tr style="height: 13px;">
<td style="width: 704px; height: 13px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>City:&nbsp;</strong> &lt;&lt;OwnerCity&gt;&gt;&nbsp; <strong>State:&nbsp;</strong> &lt;&lt;OwnerState&gt;&gt;&nbsp; <strong>ZipCode:&nbsp;</strong> &lt;&lt;OwnerZIPCode&gt;&gt;</span></td>
</tr>
<tr style="height: 13px;">
<td style="width: 704px; height: 13px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><strong>C Phone:&nbsp;&nbsp;</strong>&lt;&lt;MobilePhone&gt;&gt;&nbsp; <strong>W Phone:&nbsp; </strong>&lt;&lt;WorkPhone&gt;&gt;&nbsp;<strong> H Phone:&nbsp; </strong>&lt;&lt;HomePhone&gt;&gt;</span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif;"><strong>DATE:</strong>&nbsp;&lt;&lt;Date&gt;&gt;&nbsp;<strong>&nbsp; &nbsp;OWNER/REPRESENTATIVE SIGNATURE:&nbsp;&nbsp;</strong></span></p>
<p><strong style="font-size: 11pt; font-family: arial, helvetica, sans-serif;">DATE:&nbsp;</strong><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif;">&lt;&lt;Date&gt;&gt;</span><strong style="font-size: 11pt; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; SHELTER STAFF SIGNATURE:&nbsp;</strong><span style="font-size: 11pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
<p>Animal Reclaim Release created by &lt;&lt;UserName&gt;&gt; on &lt;&lt;Date&gt;&gt;. &nbsp;Animal Record created by &lt;&lt;AnimalCreatedBy&gt;&gt; on &lt;&lt;AnimalCreatedDate&gt;&gt;. &nbsp;Animal Record last updated by &lt;&lt;AnimalLastChangedBy&gt;&gt; on &lt;&lt;AnimalLastChangedDate&gt;&gt;.</p>
<p style="margin-bottom: 0in; line-height: 150%; text-align: center;">&nbsp;</p>
