<p style="margin-bottom: 0cm;" align="CENTER"><span style="font-size: xx-large;"><span style="text-decoration: underline;"><strong>RESERVED</strong></span></span></p>
<p style="margin-bottom: 0cm;" align="CENTER">&nbsp;</p>
<center>
<table style="width: 516px;" border="0" cellspacing="0" cellpadding="7"><colgroup><col width="165" /> <col width="323" /></colgroup>
<tbody>
<tr valign="TOP">
<td width="165" height="92">
<p><span style="font-size: large;">Name/Ref</span></p>
</td>
<td width="323">
<p><span style="font-size: large;"><strong>&lt;&lt;AnimalName&gt;&gt;, &lt;&lt;ShelterCode&gt;&gt;</strong></span></p>
</td>
</tr>
<tr valign="TOP">
<td width="165" height="92">
<p><span style="font-size: large;">Reserved For</span></p>
</td>
<td width="323"><strong><span style="font-size: large;">&nbsp;&lt;&lt;OwnerName&gt;&gt;</span></strong></td>
</tr>
<tr valign="TOP">
<td width="165" height="92">
<p><span style="font-size: large;">Reserved By</span></p>
</td>
<td width="323"><span style="font-size: large;"><strong>&nbsp;&lt;&lt;OwnerLastChangedBy&gt;&gt;</strong></span></td>
</tr>
<tr valign="TOP">
<td width="165" height="92">
<p><span style="font-size: large;">On</span></p>
</td>
<td width="323"><strong><span style="font-size: large;">&nbsp;&lt;&lt;ReservationDate&gt;&gt;</span></strong></td>
</tr>
<tr valign="TOP">
<td width="165" height="92">
<p><span style="font-size: large;">Collection Date</span></p>
</td>
<td width="323">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</center>
