<p><span style="font-size: 14pt;"><strong>Spay/Neuter Voucher &lt;&lt;VoucherCode&gt;&gt;</strong></span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Date: &lt;&lt;Date&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">&lt;&lt;Organisation&gt;&gt; promises to pay for the spay/neuter and, if any, the additional procedures listed below at&nbsp;<span style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Vet Clinic.</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Name: &lt;&lt;AnimalName&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Breed: &lt;&lt;BreedName&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Sex: &lt;&lt;Sex&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Color: &lt;&lt;BaseColorName&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Microchip # if chipped:&nbsp; &lt;&lt;MicrochipNumber&gt;&gt;&nbsp; </span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Weight:&nbsp; &lt;&lt;Weight&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Age:&nbsp; &lt;&lt;Age&gt;&gt;</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">This voucher is only good for: </span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Anesthesia needed for the actual spay/neuter surgery, the surgery itself, pain/antibiotic injection,&nbsp;suture removal and any additional&nbsp;procedures&nbsp;described below:</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">___________________________________ <span style="text-decoration: underline;"><br /></span></span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">If this is not a shelter animal, the owner is responsible for any extra costs for other requested/elective procedures. The owner is also responsible for the costs of any pre anesthetic exam, all needed tests, vaccinations, additional hospital stays or medication (unless required for the above named procedure and authorized by the shelter).</span></p>
<p>&nbsp;</p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Owner agrees to this by signing below:</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">_______________________________</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Owner's Signature</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">_______________________________</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Shelter Representative's Signature</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">For veterinarian's office use only:</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Date of surgery:__________________________________</span></p>
<p><span style="font-family: times new roman,times; font-size: 11pt;">Veterinarian's signature:_______________________________</span></p>
